<!doctype html>
<html ng-app="myApp">

<head>
  <title>Discrete Convolution</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="convolution.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/flot/0.8.2/jquery.flot.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
  <script type="text/javascript" src="convolution.js"></script>
</head>

<body ng-controller="MyController">
  <div class="heading">
    <span class="heading">Discrete-Time Convolution</span>
  </div>
  <div class="plotcontainer">
    <div class="inline">
      <div>
        <span class="middletext">x1 = </span>
        <input ng-model="x1" ng-list=" " ng-trim="false" required></input>
      </div>
      <div>
        <span>x1 = </span>
        <pre>{{ x1 | flatten:0 }}</pre>
      </div>
    </div>
    <div class="inline">
      <div>
        <span class="middletext">x2 = </span>
        <input ng-model="x2" ng-list=" " ng-trim="false"></input>
      </div>
      <div>
        <span class="middletext">x2 = </span>
        <pre>{{ x2 | flatten:1 }}</pre>
      </div>
    </div>
    <div id="inputplot" class="plotplaceholder"></div>
  </div>
  <div id="plot">
    <div class="plotcontainer">
      <span class="middletext">x1 * x2 = </span>
      <pre id="result"></pre>
      <div id="convplot"  class="plotplaceholder"></div>
    </div>
  </div>
</body>

</html>
